server:
  port: 8080

spring:
  thymeleaf:
    enabled: false
    mode: HTML
    cache: true
    check-template: true
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    servlet:
      content-type: text/html