server:
  port: 8080

spring:
  thymeleaf:
    enabled: false
    mode: HTML
    # 是否缓存模板（开发环境通常关闭）
    cache: false
    check-template: true
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    servlet:
      content-type: text/html